node_modules
.env
coverage
coverage.json
typechain
.DS_Store
dist

# Hardhat files
cache
artifacts

# logs
*.log

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
